*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.bg-img{
    background: url('https://api.globy.com/public/market/67502dccec6fdd625817ea19/photos/67504b597a9f8064e273e965/67504b597a9f8064e273e965_lg.webp');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img ::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 30px;
    width: 470px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: -1px 4px 28px 0px (0,0,0,0.75);

}
.content header{
    color: rgb(39, 243, 243);
    font-size: 35px;
    font-family: 600;
    margin-bottom: 35px;
    font-family:'Helvetica Neue', sans-serif;

}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.9);
}
.field i {
    color: #222;
    width: 40px;
    line-height: 45px;

}
.field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-family:'Helvetica Neue', sans-serif;


}
.space{
    margin-top: 15px;
}
.show{
    position: absolute;
    right: 10px;
    top: 15px;
    font-weight: 700;
    font-size: 13px;
    color: #222;
    display: none;
    cursor: pointer;
    font-family:'Helvetica Neue', sans-serif;

}
.pass{
    text-align: left;
    margin: 10px 0;
}
.pass-key:valid ~ .show{
    display: block;
}
.pass a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    font-family:'Helvetica Neue', sans-serif;

}
.pass a:hover {
    text-decoration: underline;

}
.btn{


    background: #063ea6;
    border: 1px solid #04124e;
    color: rgb(221, 221, 221);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family:'Helvetica Neue', sans-serif;
    width: 100%;
    border-radius: 2px;

}
.btn:hover{
background-color: #5885da;
}
.login {
    color: white;
    margin: 20px 0px;
    font-family:'Helvetica Neue', sans-serif;
}
.links {
    display: flex;
    cursor: pointer;
    color: white;
    margin-bottom:20px ;
   

}
.facebook{
    margin-left: 0 ;
    background: #043495;
    border: 1px solid #477dea;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;

}
.facebook:hover{
    background: #3c77ec;
}
.gmail{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    background: red;
    border: 1px solid #477dea;

}
.gmail:hover {
    background: #3c77ec;
}
.links i{
font-size: 17px;
}
i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-weight: 16px;

}
.signup {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family:'Helvetica Neue', sans-serif;
}
.signup a :hover{
    text-decoration: underline;
   
}