*{
    margin :0;
    padding:0;
    font-family: sans-serif;

}

    body{
        width: 100%;
        height: 100vh;
        background-image: url(/form1/img/bg1.jpg);
        background-size: cover;
        background-position : center;
    }
    
.login-box{
    width: 580px;
    height: 520px;
    background: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px;
    box-sizing: border-box;
}
.login-box img {
    width: 100px;
    height: 100px;
    top:-50px;
    position: absolute;
    left :calc(50% - 50px);

}
h1{
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;

}
p{
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.login-box input{
    width: 100%;
    margin-bottom: 30px;
}
.login-box input[type ="text"], input[type="password"]{
    height: 50px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    color: white;
    background: transparent;
    font-size: 18px;

}
.login-box input[type="button"]{
    height: 50px;
    font-weight: bold;
    background: transparent;
    outline: 0;
    background: red;
    border-radius: 20px;
}
.login-box input[type="button"]:hover{
    background: yellow;
}
.login-box a {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    color: rgb(103, 85, 60);
}
.login-box a:hover{
    color: white;
}