*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white !important;
}
body{
    display: flex;
    background: #fef2f2;
    min-height: 100vh;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}
.calendar-container{
    background: #1e3a8a;
    width: 620px;
    border-radius:10px ;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    height: 600px;


}
/*  media query for calendar container */
@media (min-width :600px){
    .calendar-container{
        width: 1000px;
    }
}
/* header style*/
.calendar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container-navigation{
    display: flex;
}
header .container-navigation span{
    height: 45px;
    width: 60px;
    margin: 0 2px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    user-select: none;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.1);
    color: #aeabab;
}
.container-navigation span:last-child{
    margin-right: -3px;
}
header .container-navigation:hover{
    background: #dc2626;
}
.calendar-current-date{
    font-weight: 500;
    font-size: 25px;
    margin-left: 15px;
}
.calendar-body{
    padding: 10px;
}
.calendar-body ul {
list-style: none;
display: flex;
flex-wrap: wrap;
text-align: center;

}
.calendar-body .calendar-dates{
    margin-bottom: 10px;
    width: 100%;

}
.calendar-body li {
    width: calc(100%/7);
    line-height: 35px;
    color: #414141;
    margin-top: 20px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}
.calendar-weekdays li {
    cursor: default;
    font-weight: 500;
    font-size: 20px;

}
.calendar-dates li.inactive{
    color: #aaa !important;
    cursor: default;
}
.calendar-dates li.active{
    color: #fff;
}
.calendar-dates li.holiday {
    color: #dc2626 !important;
}